nav{
width:auto;
height: auto;
}


h1{
  color:purple;
  text-align:justify
}

h2{
color:purple;
text-align:justify;
}

h3
{
color:white;
background-color: black;
}

#carouseltext{
background-color: black;
padding: 6px;
background-size: contain;
color:white;
font-style:italic;
text-align: justify;
}
#ContactUs{
background-color: black;
color:white;
font-style:italic;
}
#Feedback{
background-color: black;
color:white;
font-style:italic;
}
